<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No Money Bank</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <header>
      <h1>No Money Bank</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Accounts</a></li>
          <li><a href="/transaction/">Transactions</a></li>
          <li><a href="#Contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Account Owner</h2>
      <div class="card">
        <p>Your details </p>
        <hr>
        <p>Your name: Mr.Adams</p>
        <hr>
        <p>Account no.: 5496251</p>
        <hr>
        <p>Your Balance: &#8377 1694200</p>
      </div>
      
    </main>

    <footer>
        <div class="contacts" id="Contact">
            <form>
                <input type="email" placeholder="Your email address">
                <textarea placeholder="Your message" cols="30" rows="10"></textarea>
                <button>Submit</button>
            </form>
        </div>
      <p class="copy">&copy; 2023 Bank Website</p>
    </footer>
  </body>
</html>